<h1>タスク一覧</h1>

<table>
  <thead>
    <tr>
      <th>完了予定日<th>
      <th>タスク名</th>
      <th>説明</th>
      <th>登録日時</th>
      <th>登録・編集</th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr<%= deadline?(task.deadline) ? ' class="red"' : '' %>>
      <td><%= task.deadline.present? ? l(task.deadline, format: :default) : '' ; %></td>
      <td><%= link_to(task.title,"/tasks/#{task.id}")%></td>
      <td><%= task.content %></td>
      <td><%= l(task.updated_at, format: :short) %></td>
      <td><%= link_to 'edit', edit_task_path(task) %></td>
      <td><%= link_to 'delete', task, method: :delete, data: { confirm: 'You sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_task_path %>